body{
    background-color: black;
    background-image: url("../images/numbers.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

    display: flex;
    flex-flow:column nowrap;
    height: 100%;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first{
    text-align: center;
    color:black;
    text-decoration: underline wavy;
    text-decoration-color: red;
}
.second{
    text-align: center;
    color:black;
}
.third{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(9,1fr);
    height: max-content;
    width: 100%;
    gap: 5px;
}
.table_elements{
    background-color: blue;
    text-align: center;
    font-size: 2rem;
    width: 100px;
    height: 40px;
}
.correct_table_elements{
    background-color: green;
    text-align: center;
    font-size: 2rem;
    width: 100px;
    height: 40px;
}
.wrong_table_elements{
    background-color: red;
    text-align: center;
    font-size: 2rem;
    width: 100px;
    height: 40px;
}
input[type="number"]{
    font-size: 30px;
    width: min-content;
    color:black;
    background-color :saddlebrown;
    text-align: center;
}
.fifth{
    margin-top: 20px;
}